*{
    padding: 0px;
    margin: 0px;
    
}
body{
    background-color: bisque;
}
nav {
    background-color: rgb(35, 35, 35);
    width: 100%;
    position: static;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.tt > img{
    width: 40px;
}

a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 14px 16px;
    transition: 1s;
}
a:hover{
    background-color: rgb(93, 83, 113);
}
section{

}
.container {
    display: flex;
    flex-direction: row;
    padding-bottom: 150px;
    padding-left: 150px;
    background-color: rgba(220, 43, 226, 0.712);
}
.conta{
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 150px;
    padding-right: 100px;
}
p.p1 {
    width: 430px;
    padding: 10px;
    font-size: 20px;
}
p.p2 {
    width: 430px;
    padding: 10px;
}
img.img1 {
    height: 300px;
    width: 300px;
    padding-right: 50px;
}
img.img2 {
    height: 300px;
    width: 300x;
    padding-left: 50px;  
}
.titulo{
    text-align: center;
}

p{
    text-align: right;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}
footer img{
    height: 30px;
    border-radius: 20px;
}

