*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 5rem;
    background-color: rgb(170, 45, 238);
}
.logo{
    color: white;
}
.logo img{
    width: 50px;
}
.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}
.navbar ul li {
    padding: 0 15px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}
.menu-icon{
    display: none;
    cursor: pointer;
}
.menu-icon img{
    width: 30px;
}
@media(max-width: 900px){
    .navbar ul{
        position: absolute;
        background-color: rgb(170, 45, 238);
        top: 78px;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 100%;
        transition: 0.5s;
    }
    .navbar ul.open{
        left: 0;
    }
    .navbar ul li {
        margin: 5px 0;
    }
    .menu-icon{
        display: block;
    }
}